
:root {
  --dark: #111111;
  --light: #f3f3f3;


  --primary-1: #e0a92933;
  --primary-2: #e0a92966;
  --primary-3: #e0a92999;
  --primary-4: #e0a929cc;
  --primary-5: #e0a929;
  --primary: #e0a929;

  --neutral-1: #dce1e833;
  --neutral-2: #dce1e866;
  --neutral-3: #dce1e899;
  --neutral-4: #dce1e8cc;
  --neutral-5: #dce1e8;
  --neutral: #dce1e8;

  --accent-1: #5a6fc433;
  --accent-2: #5a6fc466;
  --accent-3: #5a6fc499;
  --accent-4: #5a6fc4cc;
  --accent-5: #5a6fc4;
  --accent: #5a6fc4;

  --danger-1: #c1292e33;
  --danger-2: #c1292e66;
  --danger-3: #c1292e99;
  --danger-4: #c1292ecc;
  --danger-5: #c1292e;
  --danger: #c1292e;

  --success-1: #0c7c5933;
  --success-2: #0c7c5966;
  --success-3: #0c7c5999;
  --success-4: #0c7c59cc;
  --success-5: #0c7c59;
  --success: #0c7c59;

  --warning-1: #ff923333;
  --warning-2: #ff923366;
  --warning-3: #ff923399;
  --warning-4: #ff9233cc;
  --warning-5: #ff9233;
  --warning: #ff923;
}