@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #111111;
  --light: #f3f3f3;


  --primary-1: #e0a92933;
  --primary-2: #e0a92966;
  --primary-3: #e0a92999;
  --primary-4: #e0a929cc;
  --primary-5: #e0a929;
  --primary: #e0a929;

  --neutral-1: #dce1e833;
  --neutral-2: #dce1e866;
  --neutral-3: #dce1e899;
  --neutral-4: #dce1e8cc;
  --neutral-5: #dce1e8;
  --neutral: #dce1e8;

  --accent-1: #5a6fc433;
  --accent-2: #5a6fc466;
  --accent-3: #5a6fc499;
  --accent-4: #5a6fc4cc;
  --accent-5: #5a6fc4;
  --accent: #5a6fc4;

  --danger-1: #c1292e33;
  --danger-2: #c1292e66;
  --danger-3: #c1292e99;
  --danger-4: #c1292ecc;
  --danger-5: #c1292e;
  --danger: #c1292e;

  --success-1: #0c7c5933;
  --success-2: #0c7c5966;
  --success-3: #0c7c5999;
  --success-4: #0c7c59cc;
  --success-5: #0c7c59;
  --success: #0c7c59;

  --warning-1: #ff923333;
  --warning-2: #ff923366;
  --warning-3: #ff923399;
  --warning-4: #ff9233cc;
  --warning-5: #ff9233;
  --warning: #ff923;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

html {
  @apply h-full;
}
body {
  @apply h-full;
}
div#__next {
  @apply h-full;
}

a {
  color: inherit;
  text-decoration: none;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--neutral);
  background-color: var(--neutral-1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  border: none;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize 'line-height'. Cannot be changed from 'normal' in Firefox 4+.  */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable 'input' types in iOS */
  appearance: none;
}

li {
  list-style: none;
}

.page {
  min-height: calc(100% - 100px);
}

 /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

 /* Small devices (portrait tablets and large phones, 600px and up) */
 /* @media only screen and (min-width: 600px) {} */

 /* Medium devices (landscape tablets, 768px and up) */
 /* @media only screen and (min-width: 768px) {} */

 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 0) and (max-width: 991px) {
  .desktop {
    display: none!important;
  }
}
@media only screen and (min-width: 992px) {
  .mobile {
    display: none!important;
  }
}
 /* Extra large devices (large laptops and desktops, 1200px and up)  */
 /* @media only screen and (min-width: 1200px) {} */
