@import "colors";

.spinner {
  content: "";
  display: inline-block;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1rem solid var(--light);
  border-color: var(--light) transparent var(--light) transparent;
  animation: spinnerAnimation 1.2s infinite;
}

.spinner.sm {
  border-width: 0.5rem;
}

.spinner.lg {
  border-width: 1.5rem;
}


@keyframes spinnerAnimation {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
